
body {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-size: 1.35rem;
    color: #555;
}

@media (min-width: 40.0rem) {
    .container {
        background: #f2f2f2;
        max-width: none;
    }
}

.column.experience {
    background: #fff;
    padding: 2rem 4rem;
}

strong, b, dt,
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 { font-size: 3.3rem }
h2 { font-size: 2.8rem }
h3 { font-size: 2.2rem }
h4 { font-size: 1.8rem }
h5 { font-size: 1.6rem }
h6 { font-size: 1.35rem }

.person h3,
.experience h2 {
    border-bottom: 2px solid rgba(126, 164, 220, .5);
    margin-top: 2em;
}

.person .position,
.position > .title {
    color: #888;
}


.image {
    margin: 7rem auto;
    width: 15rem;
    height: 15rem;

    border: 5px solid #fff;
    border-radius: 15rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);

    overflow: hidden;
}
    .image img {
        width: 100%;
        margin-top: -.75rem;
    }

dt {
    margin-bottom: 0;
}
dt::after {
    content: ":";
    display: inline;
}

h1 + h4,
h3 + .position {
    margin-top: -2rem;
}

.project {
    margin-bottom: 3rem;
}

.project > .title {
    margin: 1rem 0 0;
}
.project > .description {
    margin-bottom: .5rem;
}

.project ul {
    margin-left: 2.5rem;
    list-style: disc;
}

.tasks .title,
.tech .title {
    margin-bottom: 0;
}

