
body {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-size: .875rem;
}

.container {
    background: #f2f2f2;
    width: auto;
    max-width: none;
}
    .container.content {
        margin-bottom: 0;
    }

    .column.person {
        padding: 7rem 2rem 2rem;
    }
    .column.experience {
        background: #fff;
        padding: 4rem 2rem 2rem;
    }




strong, b, dt,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    font-weight: 400;
}

.content .image {
    margin: 0 auto;

    border: 5px solid #fff;
    border-radius: 15rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);

    overflow: hidden;
}
    .image img {
        margin-top: -.75rem;
    }

.person h1.name {
    margin: 5rem 0 0;
}
.person .position,
.position-name {
    margin-top: 0;
    color: #888;
}

.person h3,
.experience h2 {
    border-bottom: 2px solid rgba(126, 164, 220, .5);
}

.person h3,
.person h4 {
    margin-top: 2em;
}

.person p {
    margin-bottom: 1rem;
}


dt::after {
    content: ":";
    display: inline;
}

dd + dt {
    margin-top: 1rem;
}

.employment + .employment {
    margin-top: 3.5rem;
}
.project + .project {
    margin-top: 1rem;
}

.content .employer,
.content .project-name {
    margin-bottom: 0;
}

.project ul {
    margin: 0 0 0 1.7rem;
    list-style: none;
}
    .project li {
        position: relative;
    }
        .project li:before {
            content: "·";
            display: inline;
            font-size: 1.5rem;
            line-height: 1.3rem;

            position: absolute;
            left: -.95rem;
            top: 0;
        }


.tech p {
    font-size: .95em;
}

.content .employment + h2 {
    margin-top: 3rem;
}


@media print {
    abbr {
        text-decoration: none;
    }
    .column.person {
        width: 25%;
    }

    /* print margin hack */
    .employment:nth-child(5) {
        padding-top: 3rem;
    }

    /* print to full page hack */
    .column.experience {
        padding-bottom: 6rem;
    }
}

