

body {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
}

@media (min-width: 40.0rem) {
    .container {
        background: #f2f2f2;
        max-width: none;
    }
}

.column.is-right-panel {
    background: #fff;
}

strong, b, dt {
    font-weight: 400
}

dt::after {
    content: ":";
    display: inline;
}

