
@font-face {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    src: url('fontello.ttf');
}

[class^="icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    line-height: 1em;
    margin: 0 .2em;
    text-align: center;
    text-decoration: inherit;
    width: 1em;

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    text-shadow: 1px 1px 1px rgba(127, 127, 127, .3);
}

.icon-instagram:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-skype:before { content: '\e803'; } /* '' */
.icon-linkedin:before { content: '\e804'; } /* '' */
.icon-email:before { content: '\e805'; } /* '' */
.icon-github:before { content: '\e806'; } /* '' */
.icon-stackexchange:before { content: '\e807'; } /* '' */
.icon-forrst:before { content: '\e808'; } /* '' */
.icon-dribbble:before { content: '\e809'; } /* '' */
.icon-deviantart:before { content: '\e80a'; } /* '' */
.icon-youtube:before { content: '\e80c'; } /* '' */
.icon-reddit:before { content: '\e80d'; } /* '' */
.icon-lastfm:before { content: '\e80e'; } /* '' */

